/*
ժառանգություն եվ առաջնահերթություն
բրաուզերը առաջնային դերակատարում է տալիս այն առաջնահերթությանը որը ավելի կոշտ է գրված 
*/

li{
    color:rgb(60, 215, 86);
}

li > a{
color:rgb(207, 221, 4) !important;
}

html body ul li a{
    color: rgb(200, 3, 13);
}
/*
ավելի բարձր առաջնահերթություն գոյություն չունի css-ում եթե իհարկե չհենք
 օգտագործում important կոդը և խորհուրդ է տրվում օգտագործել միայն այն ծայրահեղ
  դեպքերում որտեղ չհենք կարող առաջնահերթությամբ հարց լուծել
 */