.parent {
    margin: 80px auto;
    max-width: 900px;
    height: 1000px;
    background: blueviolet;
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    
    }

    .child {
        width: 150px;
        height: 150px;
        color: #fff;
        text-align: center;
        line-height: 150px;
        background: rgb(12, 107, 64);
        border: 2px solid red;
        
    }