.parent {
    margin: 80px auto;
    max-width: 900px;
    height: 700px;
    background: blueviolet;
    display: flex;
    flex-flow:column-reverse wrap-reverse;
    
    }

    .child {
        width: 200px;
        height: 200px;
        color: #fff;
        text-align: center;
        line-height: 200px;
        background: rgb(12, 107, 64);
        border: 2px solid red;
    }

    /*display-flow:row wrap; ((սկսելով էլեմնտները վերևի անկյունից ձախից աջ)  էլեմենտը իջացնումա ներքև հեռավորությունը պահելով հավասարաչափ, կախված ծնող դիվի լայնության չափից և էջը փոքրացնելուց)
      display-flow:row wrap-reverse((սկսելով էլեմնտները ներքևի անկյունից ձախից աջ) էլեմենտը հանումա վերև հեռավորությունը պահելով հավասարաչափ, կախված ծնող դիվի լայնության չափից և էջը փոքրացնելուց)
      display-flow:row-reverse wrap(((սկսելով էլեմնտները վերևի անկյունից աջից ձախ)  էլեմենտը իջացնումա ներքև հեռավորությունը պահելով հավասարաչափ, կախված ծնող դիվի լայնության չափից և էջը փոքրացնելուց)
      display-flow:row-reverse wrap-reverse((սկսելով էլեմնտները ներքևի անկյունից աջից ձախ) էլեմենտը հանումա վերև հեռավորությունը պահելով հավասարաչափ, կախված ծնող դիվի լայնության չափից և էջը փոքրացնելուց)
      
      display-flow:column wrap;((սկսելով էլեմենտները վերևի ձախ անկյունից, վերևից ներքև) էլեմենտը տանումա աջ հեռավորությունը պահելով հավասարաչափ,կախված ծնող դիվի բարձրության չափից )
      display-flow:column wrap-reverse;((սկսելով էլեմենտները վերևի աջ անկյունից, վերևից ներքև) էլեմենտը տանումա ձախ հեռավորությունը պահելով հավասարաչափ,կախված ծնող դիվի բարձրության չափից )
      display-flow:column-reverse wrap;((սկսելով էլեմենտները ներքևի ձախ անկյունից, ներքևից վերև) էլեմենտը տանումա աջ հեռավորությունը պահելով հավասարաչափ,կախված ծնող դիվի բարձրության չափից )
      display-flow:column-reverse wrap-reverse;((սկսելով էլեմենտները ներքևի աջ անկյունից, ներքևից վերև) էլեմենտը տանումա ձախ հեռավորությունը պահելով հավասարաչափ,կախված ծնող դիվի բարձրության չափից )
      */